body {
  background-color: #F5E7D7;
  box-sizing: border-box;
  transition: linear 0.3s background-color;
}

body.inverted {
  background-color: #152A45;
}

.center {
  text-align: center;
  width: 100%;
  margin: auto;
}

.logo {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

.logo svg {
  box-sizing: border-box;
  height: 350px;
  margin-top: -175px;
  width: auto;
}

.logo polyline, .logo line, .logo path {
  stroke: #152A45;
  transition: linear 0.3s stroke;
}

svg.inverted polyline, svg.inverted line, svg.inverted path {
  stroke: #F5E7D7;
}

.icon {
  color: #497C91;
  transition: ease-in 0.2s color;
  margin: 15px;
  font-size: 2em;
}

.icon:hover {
  color: #666;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 0;
  left: 0;
}

footer div {
  background: none;
}

@media all and (max-width: 400px) {
  .logo svg {
    width: 320px;
    height: auto;
  }
}
